@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    margin: 0;
    font-size: 1.3rem;
   color: white;
    font-family: 'Montserrat';
}
h1,h5{
    margin: 0;
}
h2{
    margin: 1rem 0;
}
h3{
    color: white;
}
ul {
    float: right;
    display: inline;
    margin: 10px 5rem;
}
a{
    color: white;
    text-decoration: none;
    
}


header {
    color: white;
    background-color: #2f2fa2;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

footer{
    height: 15vh;
    background-color:#2f2fa2 ;
    margin-top: 5rem;
}



.logo {
    border-top: solid white 3px ;
    margin-left: 5rem;
    font-size: 3rem;
    padding-top: .7rem;
    font-style:oblique;
    display: inline;

}

.nav-item {
    display: inline;
    text-decoration: none;
    margin: 1rem;
    
}

.nav-btn:hover{
    color: yellow;
}

.header-heading{
    text-align: center;
    margin-top: 7rem;
}

.header-para{
    text-align: center;
    width: 50%;
    margin: auto;
}

.header-btn{
   border: 2px solid white;
    display: block;
    text-align: center;
    width: 200px;
    padding: 1rem ;
    margin: auto; 
    font-weight: bold;  
    margin-bottom: 5rem;
}
.header-btn:hover{
    background-color: white;
    color: #2f2fa2;
}

.first-sec{
    margin: 3rem 5rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
    text-align: center;
}
.card{
    background-color: #f64c72;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
}
.card:hover{
border: solid black 2px;
}



.card-img{
    width: 90%;
    height: 50%;
}

.footer-txt{
    font-style:oblique ;
    text-align: center;
    padding-top: 2.5rem;
}


.speakers-first-sec{
    height: 10rem;
    width: 100%;
    background-color: #f64c72;

    color: white;
    text-align: center;
    padding-top: 5rem;
   
}

.speakers-first-sec-heading{
    font-size: 2.5rem;
    margin-top: -1rem;
    
}

.speakers-first-sec-p{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
   
}

.speakers-sec{
   margin-top: 2rem;
    color: black;
    
}

.speakers-content{
    width: 50%;
    display: inline-block;
    margin: 1rem 10%;
}

.speaker-img{
    width: 25%;
    border-radius: 50%;
    position: relative;
    bottom: 10rem;
}